@import "../../../../styles/variables/colors";
@import "../../../../styles/variables/mixins";

.container {
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(23, 23, 23, 0.59);
  border-radius: 25px;
  border: 1px solid white;
  z-index: 99999999;
  //width: 500px;
  opacity: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 25px;
  flex-direction: column;
  gap: 15px;
  margin: 0;
}

.title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 5px;

  h2 {
    @include adaptive-font(22, 18);
    color: $primary-text-color;
  }
  &Line {
    height: 1px;
    width: 100%;
    background: $primary-text-color;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 100%;

  svg {
    color: $primary-text-color;
    @include adaptive-font(18, 14);
  }

  p {
    display: block;
    width: 100%;
    @include adaptive-font(16, 14);
    color: $light-gray-blue;
  }
}
