.container {
  padding-top: 70px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  gap: 166px;
  overflow: hidden;
  margin-top: 100px;
}

@media screen and (max-width: 750px) {
  .container {
    gap: 50px;
  }
}

@media screen and (max-width: 685px) {
  .container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
