@import "../../styles/colors";

.container {
  padding-top: 70px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  gap: 166px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  font-size: 16px;
  color: $light-gray-blue;

  p {
    max-width: 450px;
    font-size: 18px;
    line-height: 1.56;
  }

  &Title {
    color: $white;
    font-size: 42px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &Poster {
    padding: 0;
    margin: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &Status {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: -2px;
    width: 100%;
    justify-content: center;
    border: 1px solid $deep-red;
    padding: 11px 8px;
    h4 {
      font-family: "Fira Code", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.3125;
      color: $light-gray-blue;
    }
  }

  .squer {
    border: 1px solid $deep-red;
    width: 15px;
    height: 15px;
  }
}
