@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 150px;
  padding: 20px;
  margin: 100px auto;
  min-height: 674px;
}

.poster {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.animBox {
  overflow: hidden;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 800px;
  margin: 0 auto;
  top: 10%;
  left: 30%;
  color: $primary-text-color;
  z-index: 20;
  span {
    font-weight: lighter;
    line-height: 1.2;

    @include adaptive-font(24, 18);
  }
  h3 {
    line-height: 1.2;
    font-weight: normal;
    @include adaptive-font(35, 20);
  }
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 800px;
  margin: 0 auto;
  z-index: 5;
  color: $primary-text-color;

  h3 {
    font-weight: lighter;
    @include adaptive-font(35, 20);
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 800px;
  margin: 0 auto;
  z-index: 20;
  color: $primary-text-color;
  h3 {
    font-weight: normal;
    @include adaptive-font(35, 20);
  }
}

@media screen and (max-width: 750px) {
  .container {
    gap: 50px;
  }
}

@media screen and (max-width: 685px) {
  .container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
