@import "../../../../styles/variables/colors";

.btn {
  font-family: Montserrat, system-ui, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3125;
  border: none;
  border-bottom: 1px solid $primary-text-color;
  padding: 8px 16px;
  background: inherit;
  text-decoration: none;
  color: $primary-text-color;
  width: fit-content;
  cursor: pointer;
}
