@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import "variables/colors";
@import "variables/mixins";
@import "variables/global";
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

body {
  font-family: var(--font-family-main);
  background: $deep-gray;
  overflow-x: hidden;
}

section {
  margin-bottom: 100px;
}

.container {
  width: 100%; // Займає всю доступну ширину
  max-width: 1366px; // Максимальна ширина, щоб контент не був занадто широким на великих екранах
  margin: 0 auto; // Центрування контейнера шляхом автоматичного задання відступів з обох боків
  padding: 20px; // Відступ всередині контейнера, щоб вміст не прилягав безпосередньо до країв
  box-sizing: border-box; // Забезпечує, що padding і border враховуються в загальній ширині елемента
}

// Додаткові стилі для респонсивного дизайну
@media (max-width: 768px) {
  .container {
    padding: 10px; // Зменшуємо відступи на малих екранах
  }
}

.red {
  color: $deep-red;
}
* {
  font-family: "Fira Code", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}
