@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.title {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;

  &Content {
    display: block;
    width: 100%;
    min-width: fit-content;
    @include adaptive-font(42, 24);
    color: $white;
    white-space: nowrap;
  }

  &Line {
    height: 2px;
    width: 100%;
    background: $deep-red;
  }
}
