@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 10px;

  &Content {
    display: block;
    width: 100%;
    min-width: fit-content;
    font-family: Montserrat, system-ui, sans-serif !important;
    text-transform: uppercase;
    @include adaptive-font(42, 24);
    color: $primary-text-color;
    white-space: nowrap;
  }

  &Line {
    height: 2px;
    width: 100%;
    background: $white;
  }
}
