@import "../../styles/variables/colors";

.skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 100px;

  &Content {
    display: flex;
    flex-direction: column;
    gap: 50px;

    h4 {
      font-family: Montserrat, system-ui, sans-serif;

      color: $light-gray-blue;
    }
  }
}
