@import "../../styles/colors";

.skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 100px;

  &Content {
    display: flex;
    flex-direction: column;
    gap: 50px;

    h4 {
      color: $light-gray-blue;
    }
  }
}
