@import "../../styles/variables/colors";

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  min-width: 152px;
  color: $white;
  cursor: pointer;
  &Icon {
    color: $deep_red;
  }
}
@media screen and (max-width: 750px) {
  .logo {
    font-size: 32px;
  }
}
