@import "../../../../styles/variables/colors";
@import "../../../../styles/variables/mixins";

.btn {
  font-family: "Fira Code", sans-serif;
  font-weight: 500;
  @include adaptive-font(16, 12);
  line-height: 1.3125;
  border: 1px solid $deep-red;
  padding: 8px 16px;
  background: inherit;
  text-decoration: none;
  color: $primary-text-color;

  &:hover {
    background: $deep-red-back;
  }
}
