@import "../../styles/colors";
@import "../../styles/mixins";
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.desc {
  width: 100%;
  &Content {
    font-family: "Fira Code", sans-serif;
    font-weight: 400;
    @include adaptive-font(18, 12);
    line-height: 1.31;
    text-align: justify;
    color: $light-gray-blue;
    cursor: default;
  }
}
