@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10000;
  background: rgba(23, 23, 23, 0.59);
  transition: all linear 0.5s;
  margin-bottom: 160px;
  border-bottom: 1px solid $primary-text-color;

  &Container {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px !important;
    width: 100%;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: $light-gray-blue;
    font-size: 16px;
    @include adaptive-font(18, 16);
    transition: all linear 0.5s;
    font-weight: lighter;
    font-family: Montserrat, system-ui, sans-serif;

    span {
      font-family: Montserrat, system-ui, sans-serif;
    }

    &:nth-last-child(1):hover {
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 875px) {
  .header {
    &Container {
      padding: 20px !important;
    }
  }
}

@media screen and (max-width: 780px) {
  .nav {
    display: none;
  }
}
