@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.header {
  position: fixed;
  width: 100% !important;
  top: 0;
  left: 0;
  z-index: 10000;
  box-sizing: border-box;
  background: $header-back;
  transition: all linear 0.5s;
  margin-bottom: 160px;
  border-bottom: 1px solid $primary-text-color;

  &Container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 200;
    text-decoration: none;
    color: $primary-text-color;
    font-size: 16px;
    @include adaptive-font(18, 16);
    transition: all linear 0.5s;
    font-family: Montserrat, system-ui, sans-serif;

    span {
      font-family: Montserrat, system-ui, sans-serif;
    }

    &:nth-last-child(1):hover {
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 875px) {
  .header {
    &Container {
      padding: 20px;
    }
  }
}

@media screen and (max-width: 780px) {
  .nav {
    display: none;
  }

  .header {
    margin-bottom: 20px;
  }
}
