$deep-gray: #171717;
$white: #ffffff;
$deep-red: #be112b;
$deep-red-back: rgba(170, 19, 41, 0.16);
$light-gray-blue: rgba(255, 255, 255, 0.54);
$header-back: rgba(23, 23, 23, 0.59);
$back: back;
$primary-text-color: #ffffff;
