@import "../../../../styles/variables/colors";
@import "../../../../styles/variables/mixins";

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.label {
  position: absolute;
  top: -15px;
  left: 20px;
  color: $primary-text-color;
  font-family: "Fira Code", sans-serif;
  font-weight: 400;
  @include adaptive-font(18, 14);
  line-height: 1.31;
  background: $deep-gray;
  border-radius: 2px;
  padding: 0 2px;
}

.ta {
  display: block;
  box-sizing: border-box;
  background: $deep-red-back;
  border: 1px solid $deep-red;
  color: $primary-text-color;
  @include adaptive-font(18, 16);
  font-weight: 100;
  //height: -moz-fit-content();
  padding: 14px 8px;
  max-width: 100%;
  min-width: 0;
  width: 100%;
  outline: none;

  height: 49px;
  text-align: justify;
  resize: vertical;
  overflow-y: hidden;
  transition: all ease 0.4s;
}
