@import "../../../../styles/variables/colors";
@import "../../../../styles/variables/mixins";

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.label {
  position: absolute;
  top: 50%;
  left: 0;
  color: $primary-text-color;
  font-family: Montserrat, system-ui, sans-serif;
  font-weight: 500;
  @include adaptive-font(18, 14);
  line-height: 1.31;
  background: inherit;
  border-radius: 2px;
  padding: 0 2px;
  transition: all ease-in-out 0.2s;
}

.ta {
  display: block;
  box-sizing: border-box;
  background: inherit;
  border: none;
  border-bottom: 1px solid $primary-text-color;
  color: $primary-text-color;
  font-family: Montserrat, system-ui, sans-serif;
  @include adaptive-font(16, 12);
  font-weight: 200;
  padding: 14px 8px;
  max-width: 100%;
  min-width: 0;
  width: 100%;
  outline: none;

  min-height: 49px;
  text-align: justify;
  resize: vertical;
  overflow-y: hidden;
  transition: all ease 0.4s;
}
