@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.languages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: $light_gray-blue;
  gap: 10px;
  line-height: 1.2;

  &Title {
    @include adaptive-font(24, 18);
    color: $primary-text-color;
  }

  &List {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &Item {
    @include adaptive-font(16, 14);
  }
}
